
.main{
    display: flex;
    justify-content: center;
    height: 550px ;
    width: 900px;
    box-shadow: 11px 12px 13px 12px rgb(214, 205, 205);
    margin-top: 80px;
    margin-left:300px;
    border-radius: 50px;
    background-color: white;
    position: relative;
} 
.sub-main{
    display: flex;
    justify-content: center;
    height: 550px ;
    width: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    background-color: #EC1414;
}
.Login{
    justify-content: center;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
}
.welcome{
    justify-content: center;
    position: absolute;
    font-size: 30px;
    color: #fff;
    margin-top: 400px;

}
.welcome{
    justify-content: center;
    position: absolute;
    font-size: 30px;
    color: #fff;
    margin-top: 400px;
}
.namerf{
    justify-content: center;
    position: absolute;
    font-size: 30px;
    color: #fff;
    margin-top: 450px;
}
.password{
    justify-content: center;
    position: absolute;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 80px;
    margin-left: 250px;
}
.input-field{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    height: 35px ;
    width: 250px;
    margin-top: 140px;
    margin-left: 500px;
    border-top-width: 0px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.buton{
    width: 290px;
    height: 50px;
    right: 100px;
    bottom: 150px; 
    position:absolute;
    border-radius: 60px;
    background-color: red;
    color: white;
    font-size: 25px;
    border: none;
}
.incorect{
    width: 300px;
    right: 50px;
    bottom: 130px;
    position: absolute;
    font-size: 10px;
    color: blue;
}

